# Terraform

terraform-provider-docker_v2.15.0
terraform.tfstate
terraform.tfstate.backup

# Logs and temporaries

*.log
*.tmp
*.bak

# IDE/Editor Configurations

.vscode/
.idea/
*.swp

# Files System

.DS_Store
Thumbs.db

# Sockets and local banks

*.sock
*.db